*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#050505;

color:white;

font-family:'Orbitron',sans-serif;

overflow-x:hidden;

}

/* STAR BACKGROUND */

#stars{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

z-index:-1;

}

/* HEADER */

.header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 5%;

backdrop-filter:blur(20px);

border-bottom:1px solid rgba(255,255,255,.05);

position:sticky;

top:0;

background:rgba(0,0,0,.4);

z-index:100;

}

/* LOGO */

.brand{

display:flex;

align-items:center;

gap:15px;

}

.logo{

width:55px;

}

.brandText h2{

color:#fff;

font-size:22px;

}

.brandText p{

font-size:12px;

color:#999;

}

/* NAV */

nav{

display:flex;

gap:15px;

}

.navBtn{

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.1);

color:white;

padding:12px 18px;

border-radius:15px;

cursor:pointer;

transition:.4s;

}

.navBtn:hover{

transform:translateY(-3px);

border-color:#D4AF37;

box-shadow:

0 0 20px #D4AF37;

}

.active{

background:#D4AF37;

color:black;

}

/* CONNECT WALLET */

.connectWallet{

background:#D4AF37;

color:black;

font-weight:bold;

border:none;

padding:14px 25px;

border-radius:18px;

cursor:pointer;

transition:.4s;

}

.connectWallet:hover{

transform:scale(1.05);

box-shadow:

0 0 30px #D4AF37;

}

/* HERO */

.hero{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

padding-top:100px;

}

/* BIG LOGO */

.heroLogo{

width:230px;

animation:float 6s infinite ease-in-out;

filter:drop-shadow(0 0 35px rgba(212,175,55,.5));

}

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0px);

}

}

.hero h1{

font-size:65px;

margin-top:25px;

}

.hero h3{

margin-top:20px;

color:#999;

font-weight:400;

}

/* LAUNCH BUTTON */

.launchBtn{

margin-top:35px;

background:#D4AF37;

color:black;

padding:18px 40px;

font-size:18px;

font-weight:bold;

border:none;

border-radius:20px;

cursor:pointer;

transition:.4s;

}

.launchBtn:hover{

box-shadow:

0 0 40px #D4AF37;

transform:translateY(-5px);

}

/* BUY BOX */

.buyBox{

width:500px;

margin:auto;

margin-top:70px;

padding:30px;

background:rgba(255,255,255,.03);

border:1px solid rgba(255,255,255,.08);

border-radius:30px;

backdrop-filter:blur(25px);

}

.buyBox h2{

margin-bottom:25px;

}

/* INPUT */

.inputBox{

display:flex;

justify-content:space-between;

align-items:center;

background:#111;

padding:20px;

border-radius:20px;

}

.tokenSelect{

display:flex;

align-items:center;

gap:10px;

}

.tokenSelect img{

width:30px;

}

.inputBox input{

background:none;

border:none;

outline:none;

color:white;

font-size:22px;

width:180px;

text-align:right;

}

/* PRICE */

.priceInfo{

margin-top:20px;

color:#999;

}

/* BUY */

.buyBtn{

width:100%;

margin-top:30px;

background:#D4AF37;

padding:18px;

font-size:18px;

font-weight:bold;

border:none;

border-radius:18px;

cursor:pointer;

transition:.4s;

}

.buyBtn:hover{

box-shadow:0 0 35px #D4AF37;

}

/* TOKEN INFO */

.tokenInfo{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

padding:80px 5%;

}

.infoCard{

padding:30px;

background:rgba(255,255,255,.03);

border-radius:25px;

border:1px solid rgba(255,255,255,.08);

}

/* FOOTER */

footer{

padding:40px;

display:flex;

justify-content:center;

gap:35px;

color:#888;

}

/* MOBILE */

@media(max-width:900px){

nav{

display:none;

}

.hero h1{

font-size:42px;

}

.buyBox{

width:95%;

}

.heroLogo{

width:180px;

}

.footer{

padding:80px 5%;

margin-top:120px;

border-top:

1px solid rgba(255,255,255,.08);

background:

rgba(255,255,255,.02);

backdrop-filter:blur(20px);

}

.footerGrid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));

gap:40px;

}

.footerBox h2{

color:#D4AF37;

margin-bottom:20px;

}

.footerBox h3{

margin-bottom:20px;

}

.footerBox a{

display:block;

margin-top:15px;

text-decoration:none;

color:#999;

transition:.4s;

}

.footerBox a:hover{

color:#D4AF37;

transform:translateX(5px);

}

.copyBtn{

margin-top:20px;

background:#D4AF37;

padding:14px 25px;

border:none;

border-radius:18px;

font-weight:bold;

cursor:pointer;

transition:.4s;

}

.copyBtn:hover{

box-shadow:

0 0 25px #D4AF37;

}

.copyright{

text-align:center;

margin-top:60px;

color:#666;

}

.subHeader{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 5%;

}

.subHeader button{

background:#D4AF37;

color:black;

font-weight:bold;

padding:15px 30px;

border:none;

border-radius:20px;

cursor:pointer;

transition:.4s;

}

.subHeader button:hover{

box-shadow:

0 0 30px #D4AF37;

transform:translateY(-3px);

}

.paperCard a{

color:#D4AF37;

text-decoration:none;

transition:.4s;

}

.paperCard a:hover{

color:white;

}

.paperContainer{

width:85%;

margin:auto;

padding-top:80px;

padding-bottom:80px;

}

.paperCard{

background:

rgba(255,255,255,.03);

border:

1px solid rgba(255,255,255,.08);

padding:35px;

border-radius:30px;

margin-top:30px;

backdrop-filter:blur(20px);

}

.paperCard h2{

color:#D4AF37;

margin-bottom:20px;

}

.paperCard p{

line-height:40px;

color:#ddd;

}

.downloadBox{

display:flex;

justify-content:center;

margin-top:50px;

}

.downloadBtn{

background:#D4AF37;

border:none;

padding:18px 40px;

font-size:18px;

font-weight:bold;

border-radius:20px;

cursor:pointer;

transition:.4s;

}

.downloadBtn:hover{

box-shadow:

0 0 35px #D4AF37;

}

.swapSection{

display:flex;

justify-content:center;

padding:100px 0;

}

.swapBox{

width:500px;

padding:35px;

border-radius:35px;

background:

rgba(255,255,255,.03);

border:

1px solid rgba(255,255,255,.08);

backdrop-filter:blur(20px);

}

.tokenBox{

background:#111;

padding:20px;

border-radius:25px;

margin-top:20px;

}

.tokenContent{

display:flex;

justify-content:space-between;

align-items:center;

}

.tokenContent input{

background:none;

border:none;

outline:none;

font-size:28px;

color:white;

width:180px;

}

.tokenSelect{

display:flex;

align-items:center;

gap:10px;

}

.tokenSelect img{

width:35px;

}

.swapArrow{

font-size:35px;

text-align:center;

margin-top:20px;

color:#D4AF37;

}

.swapInfo{

margin-top:25px;

color:#999;

line-height:35px;

}

.swapBtn{

width:100%;

margin-top:30px;

padding:18px;

border:none;

border-radius:20px;

background:#D4AF37;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.4s;

}

.swapBtn:hover{

box-shadow:

0 0 35px #D4AF37;

transform:translateY(-3px);

}

#marketContainer{

display:grid;

gap:20px;

margin-top:30px;

}

.coinCard{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background:

rgba(255,255,255,.03);

border:

1px solid rgba(255,255,255,.08);

border-radius:25px;

transition:.4s;

}

.coinCard:hover{

transform:translateY(-5px);

border-color:#D4AF37;

box-shadow:

0 0 30px rgba(212,175,55,.3);

}

.coinLeft{

display:flex;

align-items:center;

gap:15px;

}

.coinLeft img{

width:45px;

}

.coinRight{

text-align:right;

}

#searchInput{

width:100%;

padding:18px;

background:#111;

border:none;

outline:none;

border-radius:20px;

color:white;

font-size:18px;

}

}
